<style type='text/css'>
<!--
BODY   {background-color: #ffffff;}
a:link { 
	color: #000000;
	}
a:visited { 
	color: #000000;
	}
a:hover { 
	color: #000000;
	background-color: #c7bfae;
	text-decoration: none;
	}
a:active { 
	color: #000000;
	}

/* Text styles A=alignement L=Left C=Center */

.AL1		{background-color: #99CCFF; text-align: left}
.AL2		{background-color: #B2D9FF; text-align: left}
.AL3		{background-color: #B2D9FF; text-align: left}
.AC1		{text-align: center;margin: auto;}
.D              {color: #3A5FCD;}
.PRE		{text-align: left; font-family: fixed, courier;}

.ERR		{color: #CC0000; font-weight: bold; text-decoration: blink; }

.S12		{font-size:12px;}

/* Form styles */

.I1		{background-color:#FFFFFF; color:#3A5FCD; border-style:none;}
.I2		{background-color:#FFFFCC; color:#3A5FCD; border-style:ridge;} 
.I3             {font-size:10px;}

/* table styles */

table.center	{margin-left:auto; margin-right:auto;text-align: center;}

table.TW400 	{width: 400px;}

table.top	{border-style:solid;border-width:2px;border-color:black;padding:0px;margin:0px}

table.T1	{border-style:solid;border-width:1px;border-color:black;padding:0px;margin:0px}
table.T2 	{margin-left:auto; margin-right:auto;padding: 5px; font-family: courier; font-size: 10pt;}
table.T3	{margin-left:auto; margin-right:auto;text-align: center;border-style:solid;border-width:1px;border-color:black;}
table.T4        {margin-left:auto; margin-right:auto;padding: 0px; font-family: courier; font-size: 10pt;}
table.T5        
{
    display: table;
    font: 80%/1.5em "Lucida Grande", Geneva,
                    "DejaVu Sans", "Bitstream Vera Sans", AnjaliOldLipi,
                    "Lucida sans", "Trebuchet MS", Arial, Verdana;
    text-align: center;
    border: 1px #a2b0bd solid;
    border-spacing: 0;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}


.TH2		
{		
		font-size: 14px;
		font-weight: bold;
		background-color: #c7bfae;
		border-bottom: 1px solid #556655; border-right: 1px solid #556655;
		position:relative; 
		top: expression(document.getElementById("box1").scrollTop-2); /*IE5+ only*/	
		top: expression(document.getElementById("box2").scrollTop-2); /*IE5+ only*/
		top: expression(document.getElementById("box3").scrollTop-2); /*IE5+ only*/
}

.TD1		{font-weight: bold; width: 150px; background-color: #CCCCCC;}
.TD2		{border-bottom: 1px solid #505550; border-right: 1px solid #556655;padding-left: 3px; padding-right: 3px; background-color: #c7bfae}
.TD2A		{border-bottom: 1px solid #505550; border-right: 1px solid #556655;padding-left: 3px; padding-right: 3px; background-color: #e7dfce}
.TD2B           {border-bottom: 1px solid #505550; border-right: 1px solid #556655;padding-left: 3px; padding-right: 3px; background-color: #f7f3ef}
.TD2R1          {border-bottom: 1px solid #505550; border-right: 1px solid #556655;padding-left: 3px; padding-right: 3px; background-color: #ec6833}
.TD2R2          {border-bottom: 1px solid #505550; border-right: 1px solid #556655;padding-left: 3px; padding-right: 3px; background-color: #eed65a}
.TD2R3          {border-bottom: 1px solid #505550; border-right: 1px solid #556655;padding-left: 3px; padding-right: 3px; background-color: #add841}
.TDL1		{text-align: left;}
.TDR1           {text-align: right; width: 95px; background-color: #F5F5F5;}
.TDC1		{text-align: center;margin-left:auto; margin-right:auto;}
.TDC2		{text-align: center;background-color: #F5F5F5;height: 70px;}
.TDW100		{width: 100px;}
.TDW200		{text-align: left; width: 200px;}
.TDN1		{background-color: #FFFFFF; font-size: 10pt}

.TRLEVEL1	{white-space: nowrap; border-bottom: 1px solid #505550; border-right: 1px solid #556655;padding-left: 3px; padding-right: 3px; background-color: #FF0000}
.TRLEVEL2	{white-space: nowrap; border-bottom: 1px solid #505550; border-right: 1px solid #556655;padding-left: 3px; padding-right: 3px; background-color: #00FF00}
.TRLEVEL3	{white-space: nowrap; border-bottom: 1px solid #505550; border-right: 1px solid #556655;padding-left: 3px; padding-right: 3px; background-color: #0000FF}

.SL1 {
white-space: nowrap;
font-size: 12px;
border-right: 1px solid;
border-top: 1px solid; 
border-left: 1px solid; 
border-bottom: 1px solid; 
border-color: gray;
background-color: #ffffff;
margin: 0px;
height: 17px;
}

.notif_error{
		background-color: #ffd4db !important;
		color:maroon !important;
}

/* DHTMLX MENU */

.dhxcont_global_content_area{
   background-color: #ebebeb !important;
}

-->
</style>
